# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask environment
instance/
.env
*.env

# Virtual environment
venv/
ENV/
env/
.venv/

# Database
*.sqlite3
*.db
schema.sql

# Migrations
migrations/

# VS Code
.vscode/

# OS crap
.DS_Store
Thumbs.db
